<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs',title="Homepage" ) %>
</head>

<body>
    <section class="nav-container">
        <div class="logo">
            <img class="logo-img" src="pics/nordic.png" alt="">
            <h2>NORDIC ROSE</h2>
        </div>
        <ul class="nav-container-list">
            <li><a href="/">ALL</a></li>
            <li><a href="/addNew">NEW ARTICLE</a></li>
        </ul>
    </section>
</body>

</html>