<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs',title='HomePage' ) %>
</head>

<body>
    <%- include('../partials/nav.ejs',title='HomePage' ) %>
        <section class="newarticle">
            <div class="newarticle-h1">
                <h1>Add New Article</h1>
                <div class="newarticle-line"></div>
            </div>
            <form class="newarticle-form" action="/addNew/new" enctype="multipart/form-data" method="POST">
                <input type="text" name="title" id="" placeholder="title" required>
                <input type="file" name="url_picture" placeholder="Url_picture" multiple="multiple"
                    id="articles-figure-img" required>
                <input type="text" name="author" id="" placeholder="author" required>
                <input type="file" name="author_picture" id="author_picture" multiple="multiple"
                    placeholder="author_picture " required>
                <textarea name="text_blog" id="" placeholder="write your article ehere"></textarea>
                <input id="newarticle-form-submit" type="submit" value="SEND ARTICLE">
            </form>
        </section>
        <%- include('../partials/footer.ejs' ) %>
</body>

</html>